1.Convert a list of strings to uppercase
words = ['python', 'is', 'awesome'] Output: ['PYTHON', 'IS', 'AWESOME']

In [1]:
words = ['python', 'is', 'awesome']
uppercased = list(map(str.upper ,words))

In [2]:
uppercased

['PYTHON', 'IS', 'AWESOME']

2.Square all numbers in a list
numbers = [1, 2, 3, 4] utput: [1, 4, 9, 16]

In [4]:
numbers = [1,2,3,4]
[i**2 for i in numbers]

[1, 4, 9, 16]

3.Convert a list of integers to strings
nums = [1, 2, 3] Output: ['1', '2', '3']

In [6]:
nums = [1, 2, 3]
output = list(map(str, nums))

In [7]:
output

['1', '2', '3']

4.Add 5 to each element in a list marks = [50, 60, 70] Output: [55, 65, 75]

In [8]:
marks = [50, 60, 70]
output = [x + 5 for x in marks]

In [9]:
output

[55, 65, 75]

5.Get lengths of all strings in a list

names = ['apple', 'banana', 'kiwi'] Output: [5, 6, 4]

In [13]:
names = ['apple', 'banana', 'kiwi']
output = [len(i) for i in names]

In [14]:
output

[5, 6, 4]

1.Filter out even numbers
nums = [1, 2, 3, 4, 5, 6] Output: [2, 4, 6]

In [15]:
nums = [1, 2, 3, 4, 5, 6]
output = [x for x in nums if x % 2 == 0]

In [16]:
output

[2, 4, 6]

2.Keep only strings with more than 3 characters
words = ['hi', 'hello', 'hey', 'sun'] Output: ['hello']

In [20]:
words = ['hi', 'hello', 'hey', 'sun']
output = [i for i in words if len(i) > 3]

In [21]:
output

['hello']

 3.Remove empty strings from a list
data = ['Python', '', 'Java', '', 'C++'] Output: ['Python', 'Java', 'C++']

In [23]:
data = ['Python', '', 'Java', '', 'C++']
non_empty = list(filter(None, data))

In [24]:
non_empty

['Python', 'Java', 'C++']

4.Get names that start with 'A' names = ['Alice', 'Bob', 'Angela', 'Tom'] Output: ['Alice', 'Angela']

In [25]:
names = ['Alice', 'Bob', 'Angela', 'Tom']
output = [i for i in names if i.startswith('A')]

In [26]:
output

['Alice', 'Angela']

5.Keep truthy values only
items = [0, None, 'hello', False, 42, ''] Output: ['hello', 42]

In [27]:
data = [0, None, 'hello', False, 42, ''] 
truthy = list(filter(bool , data))

In [28]:
truthy

['hello', 42]

1.Sum of all numbers
nums = [1, 2, 3, 4] Output: 10

In [29]:
nums = [1, 2, 3, 4]
output = sum(nums)

In [30]:
output

10

2.Product of all even numbers nums = [1, 2, 3, 4, 5] Filter even → [2, 4] Reduce → 8

In [35]:
from functools import reduce

nums = [1, 2, 3, 4, 5]
evens = list(filter(lambda x: x % 2 == 0, nums)) 
output = reduce(lambda x, y: x * y, evens)

print(output)

8

3. Find the longest word
words = ['apple', 'banana', 'kiwi']
Output: 'banana'

In [36]:
words = ['apple', 'banana', 'kiwi']
output = max(words, key=len)

In [37]:
output

'banana'

4. Join list of strings into one sentence
words = ['Python', 'is', 'fun']
Output: 'Python is fun'

In [38]:
words = ['Python', 'is', 'fun']
sentence = reduce(lambda x, y: x + " " + y, words)

In [39]:
sentence

'Python is fun'

5. Create number from digits

digits = [1, 2, 3, 4]
Output: 1234

In [40]:
digits = [1, 2, 3, 4]
number = reduce(lambda x, y: x * 10 + y, digits)

In [42]:
number

1234